:root {
    --navy: #354DB0;
    --light-purple: #99A4D6;
    --dark-blue: #212C5B;
    --background-color: #FFF;
    --underline-color: transparent;
    --white: #ffffff;
    --light-purple-with-opacity: rgba(153, 164, 214, 0.6);
    --light-navy: rgba(53, 77, 176, 0.14);
    --light-blue: #4D80F9;
    --card-light-color: #F5F6FB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--dark-blue);
    height: 100vh;
    width: 100%;    
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}